certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
mss==10.1.0
pillow==12.0.0
prompt_toolkit==3.0.52
Pygments==2.19.2
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
questionary==2.1.1
readchar==4.2.1
requests==2.32.5
rich==14.2.0
urllib3==2.6.1
wcwidth==0.2.14
